{% extends 'main/base.html'%}
{% block content %}
<div class="album py-5 bg-body-tertiary">

    <div class="container">
      <p>
          <a class="btn btn-primary" href="{% url 'main:mailing_create' %}" role="button">Добавить рассылку</a>
        </p>
      <p>Для редактирования и просмотра рассылки вы должны быть в системе</p>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for mailing in mailing_list %}
        {% if mailing.author == user or user.is_superuser %}
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">Почта: {{mailing.email}}</p>
                <p class="card-text">Дата и время первой отправки: {{mailing.first_sent}}</p>
                <p class="card-text">Периодичность: раз в {{mailing.periodicity}} дней</p>
                <p class="card-text">Статус: {{mailing.status}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'main:mailing_info' mailing.pk %}" role="button">Подробнее</a>
                    <a class="btn btn-success" href="{% url 'main:mailing_update' mailing.pk %}" role="button">Редактировать</a>
                    <a class="btn btn-danger" href="{% url 'main:mailing_delete' mailing.pk %}" role="button">Удалить</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}