{% extends 'main/base.html'%}
{% load has_group %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {% if request.user|has_group:"manager" %}
            <img src="{{user.avatar | media_filter}}" alt="Фото">
            <div class="card-body">
                <p class="card-text">Почта: {{user.email}}</p>
                <p class="card-text">Телефон: {{user.phone}}</p>
                <p class="card-text">Страна: {{user.country}}</p>
                <p class="card-text">Статус: {{user.is_active}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-primary" href="{% url 'users:user_list' %}" role="button">Назад</a>
                  </div>
                  <div class="btn-group">
                  </div>
                </div>
            </div>
            {% else %}
                <p class="card-text">Вы не являетесь менеджером</p>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}